body {
    background-color: #151821;
    color: #999;
}

#guesses {
    color: #666;
}

div.letter, .keyboard-key {
    border: 1px solid #999;
}

.position {
    background-color: #2F3340;
    color: #888;
}

#keyboard .wrong {
    background-color: #422E29;
    color: #666;
    border: 1px solid #666;
}

#guesses .wrong {
    background-color: #422E29;
}

.correct {
    background-color: #3A452B;
    color: #aaa;
}

#modal-content {
    background-color: #32353D;
    border: 1px solid #999;
}

#close-modal:hover,
#close-modal:focus {
    color: #666;
}

#emoji-grid {
    background-color: #32353D;
    border: 1px solid #999;
}

#emoji-grid:hover {
    background-color: #666;
}

#grid-actual {
    background-color: #23262B;
    border: 1px solid #999
}