<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wordle! - Multiplayer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'multi-setup.css') }}">
    {% if night_theme %}
    <link rel="stylesheet" href="{{ url_for('static', filename = 'night_theme.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'multi_night_theme.css') }}">
    {% endif %}
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename = '/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename = '/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename = '/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename = '/site.webmanifest') }}">
    <link rel="mask-icon" href="{{ url_for('static', filename = '/safari-pinned-tab.svg') }}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
    <div id="wordle">
        <div id="setup-options">
            <div>
                <h1>Multiplayer Wordle</h1>
                <p>
                    Welcome to multiplayer wordle! To get started, set up your game below.
                    When you're finished, a unique URL will be generated to share your game!
                </p>
                <div v-if="hasGame && !showPostSetup">
                    <p>If you're looking for your current game,
                        <a :href="[[gameURL]]">it's over here!</a></p>
                </div>
                <div id="option-container">
                    <div
                    v-for="option in wordChoice"
                    :key="option.id"
                    :id="`word-choice-${option.id}`"
                    :class="{selected: option.id === selected, valid: option.id !== selected}"
                    class="button"
                    >
                        [[option.choice]]
                    </div>
                </div>
                <hr>
                <div id="submission">
                    <div id="word-picker" v-if="selected === 1">
                        <div>
                            <p>If you pick your own word you won't be able to play along!</p>
                            <input type="text" v-model="ownWord" id="word-input">
                            <p>[[validWordEmoji]]</p>
                        </div>
                        <hr>
                    </div>
                    <div id="submit" v-if="canMakeGame">
                        <div
                        class="button"
                        :class="{valid: selected === 0 || isValidWord}"
                        @click="submitWord"
                        >
                        [[submitButtonText]]
                        </div>
                    </div>
                    <div v-else>
                        <p>
                            Can make game in [[countdownMinuteSecond]]
                        </p>
                    </div>
                </div>
                <div v-if="showPostSetup">
                    <p>
                        Okay, you're good to go! Your game can be found
                        <a :href="[[gameURL]]">here!</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<!-- <script src="https://unpkg.com/vue@v3.2.27"></script> -->
<script src="{{ url_for('static', filename = 'vue.global.prod.js') }}"></script>
<script src="{{ url_for('static', filename = 'multiplayer_setup.js') }}"></script>
</html>